/* CSS Sequence 7 steps) */
/* Step 1 : parentContainer */
/* Step 2 : component */
/* Step 3 : componentContainer */
/* Step 4 : row */
/* Step 5 : column */
/* Step 6 : subColumn */
/* Step 7 : contentContainer */

/* Step 1 : parentContainer */
/* for parentcontainer css properties are given in the default css file */
/* header{
    background-color: #ffffff;
 } */

/* Step 2 : component */
.getStarted {
    background-color: #ffffff;
    /* background-color: #6c757d; */
}

/* Step 3 : componentContainer */
.getStartedContainer {
    /* background-color: rgb(67, 220, 20); */
}

/* Step 4 : row 1 */
.planningbody {
    /* background-color: rgb(58, 17, 133); */
    /* padding: 2rem 0rem; */
}

/* Step 5 : column (3)*/
.plainningBlock {
    /* background-color: rgb(103, 216, 228); */
    padding-top: 12rem;
    padding-bottom: 5rem;
}

/* Step 6 : subColumn */
.planningBox {
    /* background-color: rgb(96, 181, 144); */
    text-align: center;
}

.planningBox .cardHeader {
    /* background-color: rgb(220, 133, 20); */
    padding-bottom: 2rem;
}

/* Step 7 : contentContainer */
.planningBox .cardHeader figure {
    /* background-color: rgb(173, 157, 202); */
    /* margin-bottom: 2rem; */
}

.planningBox .cardHeader figure img {
    /* background-color: rgb(23, 22, 97); */
    width: 100%;
    height: 7rem;
}

.planningBox .cardMain {
    /* background-color: rgb(238, 196, 202); */
}

/* Step 7 : contentContainer */
.planningBox .cardMain h4 {
    /* background-color: rgb(207, 220, 20); */
    font-size: 1.8rem;
    color: #000000;
    line-height: 1.5;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

.planningBox .cardMain p {
    /* background-color: #fa9fe8; */
    font-size: 1.6rem;
    line-height: 1.5;
    color: #6c757d;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}

/* Step 4 : row 2 */
.getStartedBody {
    /* background-color: rgba(144, 101, 109, 0.989); */
    padding: 9rem 0rem;
}

/* Step 5 : column */
.getStartedBlock {
    /* background-color: rgb(220, 107, 20); */
}

/* Step 6 : subColumn */
.getStartedBox {
    /* background-color: rgb(210, 218, 141); */
}

/* Step 7 : contentContainer */
.getStartedBox h3 {
    /* background-color: rgb(77, 220, 20); */
    line-height: 1.5;
    color: #000000;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.getStartedBox h2 {
    /* background-color: rgb(20, 207, 220); */
    font-size: 3.5rem;
    line-height: 1.5;
    color: #000000;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.8rem;
}

.getStartedBox h2 span {
    /* background-color: rgb(20, 23, 220); */
    color: #fe9603;
}

.getStartedBox p {
    /* background-color: rgb(113, 20, 220); */
    font-size: 1.6rem;
    line-height: 1.5;
    color: #212529;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.getStartedBox button {
    /* background-color: rgb(216, 170, 209); */
    /* margin-bottom: 10rem; */
}