/* CSS Sequence 7 steps) */
/* Step 1 : parentContainer */
/* Step 2 : component */
/* Step 3 : componentContainer */
/* Step 4 : row */
/* Step 5 : column */
/* Step 6 : subColumn */
/* Step 7 : contentContainer */

/* Step 1 : parentContainer */
/* for parentcontainer css properties are given in the default css file */
/* header{
    backgroung-color: #ffffff
 } */

/* Step 2 : component */
.latestWork {
    background-color: #ffffff;
}

/* Step 3 : componentContainer */
.latestWorkContainer {
    /* background-color: rgb(55, 125, 186); */
}

/* Step 4 : row 1 */
.latestHeadingBody {
    /* background-color: rgb(78, 82, 82); */
    margin-bottom: 3rem;
}

/* Step 5 : column */
.latestheadingBlock {
    /* background-color: rgb(56, 61, 61); */
}

/* Step 6 : subColumn */
.latestHeadingBox {
    /* background-color: rgb(34, 18, 67); */
}

/* Step 7 : contentContainer */
/* .latestHeadingBox button {
    background-color: rgb(225, 222, 13);
    margin-bottom: 1.5rem;
    color: #FE9603;
    font-size: 1.3rem ;
    background: transparent;
    border: 0.5px solid #FE9603;
    border-radius: 50px;
    font-weight: 400;
    padding: 0.5rem 1rem;
} */

.latestHeadingBox h2 {
    /* background-color: #f1b775; */
}

/* Step 4 : row  2 */
.latestWorkBody {
    /* background-color: #73e0d7; */
    column-gap: 8rem;
    row-gap: 4rem;
    margin-bottom: 3rem;
}

/* Step 5 : column */
.latestWorkBlock {
    /* background-color: rgb(144, 76, 133); */
}

/* Step 6 : subColumn */
.latestWorkBox {
    /* background-color: rgb(4, 121, 31); */
}

.latestWorkBox .cardHeader {
    /* background-color: rgb(122, 98, 98); */
    margin-bottom: 1.5rem;
}

/* Step 7 : contentContainer */
.latestWorkBox .cardHeader a {
    /* background-color: rgb(69, 13, 62); */
}

.latestWorkBox .cardHeader a figure {
    /* background-color: rgb(14, 17, 212); */
    width: 100%;
}

.latestWorkBox .cardHeader a figure img {
    /* background-color: rgb(87, 111, 181); */
    aspect-ratio: 3 / 2 ;
}

.latestWorkBox .cardMain {
    /* background-color: rgb(47, 81, 205); */
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left;
}

/* Step 7 : contentContainer */
.latestWorkBox .cardMain a {
    /* background-color: rgb(159, 41, 61); */
}

.latestWorkBox .cardMain a h3 {
    /* background-color: rgb(29, 54, 4); */
    font-size: 2.2rem;
    line-height: 1.5;
    color: #000000;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    /* margin-bottom: 0.75rem; */
}

.latestWorkBox .cardMain p {
    /* background-color: rgb(159, 41, 84); */
    font-size: 1.6rem;
    line-height: 1.5;
    color: #6c757d;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}

/* Step 4 : row 3 */
/* .latestBtnBody {
    background-color: rgb(168, 173, 163);
} */

/* Step 5 : column */
.latestbtnBlock {
    /* background-color: rgb(43, 41, 159); */
}

/* Step 6 : subColumn */
/* .latestBtnBox {
    background-color: rgb(147, 159, 41);
} */

/* Step 7 : contentContainer */
.latestBtnBox button {
    /* background-color: rgb(40, 73, 7); */
}

@media (max-width: 360px) {
    .latestWorkBox .cardMain{
    /* background-color: #0088ff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}