/* CSS Sequence 97 steps) */
/* Step 1 : parentContainer */
/* Step 2 : component */
/* Step 3 : componentContainer */
/* Step 4 : row */
/* Step 5 : column */
/* Step 6 : subColumn */
/* Step 7 : contentContainer */

/* Step 1 : parentContainer */
/* for parentcontainer css properties are given in the default css file */
/* header{
    backgroung-color: #ffffff
 } */

/* Step 2 : component */
.navBar {
   /* background-color: #e2e2e2; */
   position: fixed;
   width: 100%;
   padding: 3rem 2rem;
}

/* Step 3 : componentContainer */
.navContainer {
   background-color: #ffffff;
}

/* Step 4 : row */
.navBody {
   /* background-color: #c4f7a4; */
   background: #fff;
   box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}

/* Step 5 : column 1 */
.navLogoBlock {
   /* background-color: #eaef61; */
   width: 100%;
}

/* Step 6 : subColumn */
.navLogoBox {
   /* background-color: #f696cc; */
   justify-content: start;
   width: 100%;
}

/* Step 7 : contentContainer */
.navLogoBox a {
   /* background-color: #78c6fa; */
   padding: 0.55rem;
   padding-left: 2rem;
}

.navLogoBox a figure {
   /* background-color: #8f99a0; */
}

.navLogoBox a figure img {
   /* background-color: #f1ba4d; */
   width: 100%;
   height: 6rem;
}

/* Step 5 : column 2 */
.navBlock {
   /* background-color: #92b47e; */
   width: 100%;
}

/* Step 6 : subColumn */
.navBox {
   /* background-color: #edc9dd; */
}

/* Step 7 : contentContainer */
/* input */
.menu-toggle {
   display: none;
}

/* label */
.hamburger {
   display: none;
   cursor: pointer;
   flex-direction: column;
   border: #787676 solid 0.1rem;
   border-radius: 0.5rem;
   padding: 0.75rem 1rem;
   position: absolute;
   top: 3.725rem;
   right: 3.5rem;
}

.hamburger i {
   /* background-color: #faebd7; */
   /* padding: 0.5rem; */
   color: #787676;
   font-size: 2.5rem;
   /* display: none; */
}

.nav-links {
   /* background-color: #e0f297; */
   justify-content: start;
   /* padding-left: 5.5rem; */
}

.nav-links li {
   /* background-color: #940353; */
   padding: 1rem;
}

.nav-links li a {
   /* background-color: #d9edc9; */
   font-family: "Poppins", sans-serif;
   color: #212529;
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 1;
   padding: 0.5rem;
}

#color {
   /* background-color: #d9edc9; */
   color: #fe9603;
}

.nav-links li .active {
   background-color: #fe9603;
   color: #ffffff;
   font-size: 1.4rem;
   font-family: "Poppins", sans-serif;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 0.75rem 2rem;
   transition: background-color 0.3s ease;
}

.nav-links li .active:hover {
   background-color: #000000;
   color: #ffffff;
   font-size: 1.4rem;
   font-family: "Poppins", sans-serif;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 0.75rem 2rem;
   transition: background-color 0.3s ease;
}


/* Responsive styles */
@media (max-width: 360px) {
   .navBar {
      padding: 2rem 2rem;
   }
   .navLogoBox a figure img {
      /* background-color: #f1ba4d; */
      width: 100%;
      height: 5rem;
   }
   .hamburger {
      display: block;
   }

   .navLogoBox {
      margin-top: 0.75rem;
   }

   .nav-links {
      background-color: var(--lightColor);
      position: absolute;
      top: 9.8rem;
      left: 0;
      right: 0;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
   }

   .nav-links li a {
      padding: 0rem;
   }

   .nav-links a {
      /* background-color: #d9bc2c; */
      width: 100%;
      height: auto;
      text-align: center;
   }

   .menu-toggle:checked~.nav-links {
      display: flex;
   }
}