/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }

    .serviceBox_1,
    .serviceBox_2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .serviceBox_1 .cardMain p {
        margin-bottom: 2rem;
    }

    .cardHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heroBox {
        /* background-color: rgb(167, 80, 248); */
        width: 100%;
    }

    .heroBtn {
        /* background-color: blue; */
        display: flex;
        justify-content: space-around;
    }

    .plainningBlock {
        /* background-color: rgb(103, 216, 228); */
        padding: 2rem 0rem;
    }

    .getStartedBody {
        /* background-color: rgba(144, 101, 109, 0.989); */
        padding: 6rem 0rem;
    }

    .imageLogoBox a figure img {
        /* background-color:rgb(0, 255, 123); */
        height: 3rem;
        width: 100%;
        aspect-ratio: 8 / 3;
    }

    .hr_line {
        /* background-color: #99aec4; */
        padding: 3rem 2rem;
    }

    .copyrightsBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        /* padding: 0rem 6rem; */
    }

    .copyrightsBox {
        /* background-color:rgb(194, 121, 127); */
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .linksBox {
        /* background-color:rgb(212, 175, 75); */
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .linksBox ul li a {
        /* background-color:rgb(238, 238, 193); */
        font-size: 1.4rem;
        line-height: 1.5;
        color: #6c757d;
        padding: 0rem 0.5rem;
    }

    .linksBox ul li p {
        /* background-color: aqua; */
        font-size: 1.4rem;
        color: #adb5bd;
        padding: 0rem 0rem;
    }
}

/* Medium devices (tablets, upto 768px and above) */
/* @media (min-width: 577px) and (max-width: 768px) */
@media (width >=577px) and (width <=768px) {
    /* write code here */
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (min-width: 769px) and (max-width: 992px) */
@media (width >=769px) and (width <=992px) {
    /* write code here */
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (min-width: 993px) and (max-width: 1200px) */
@media (width >=993px) and (width <=1200px) {
    /* write code here */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (min-width: 1200px)  */
@media (width >=1200px) {
    /* write code here */
}